#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	USEARCH_ARCH="-march=x86-64-v3" shards install --production
	crystal build --release --no-debug --mcpu=x86-64-v3 bin/memo.cr -o bin/memo
	crystal build --release --no-debug --mcpu=x86-64-v3 bin/memo-arcana.cr -o bin/memo-arcana

override_dh_auto_install:
	dh_auto_install
	# Shell completions
	bin/memo --completions bash | install -Dm644 /dev/stdin \
		$(CURDIR)/debian/memo-rag/usr/share/bash-completion/completions/memo
	bin/memo --completions zsh | install -Dm644 /dev/stdin \
		$(CURDIR)/debian/memo-rag/usr/share/zsh/vendor-completions/_memo
	bin/memo --completions fish | install -Dm644 /dev/stdin \
		$(CURDIR)/debian/memo-rag/usr/share/fish/vendor_completions.d/memo.fish
	# License
	install -Dm644 LICENSE $(CURDIR)/debian/memo-rag/usr/share/doc/memo-rag/copyright
	# Secrets env example (documents expected keys for deployment tooling)
	install -Dm644 debian/secrets.env.example \
		$(CURDIR)/debian/memo-rag/usr/share/doc/memo-rag/secrets.env.example

override_dh_auto_test:
	true

override_dh_installsystemd:
	dh_installsystemd --name=memo-arcana --no-enable --no-start
